.search {
    margin-left: 5%;
}
.search input.prompt{
    border-radius: 3px !important;
    width: 350px !important;
}
.search .results {
    margin-top: 0 !important;
    width: 350px !important;
}
.ui.search img {
    margin-right: 0 !important;
}
.ui.search .price {
    color: red !important;
}
.center-aligned {
    text-align: center !important;
}
.menu .floating.label {
    top: 0 !important;
}

.ui.card, .ui.cards .card, .card .image {
    -webkit-box-shadow: none  ;
    -moz-box-shadow: none    ;
    box-shadow: none    ;
    /*border-radius: 0 !important;*/
}
.card .corner.label {
    padding: 8px 5px 0 20px;
}